  														/* Common Style */
*{
	margin:0;
	padding: 0;
}
body{
background-color: White;	
}
  
                                                       /*Header Divisions*/
.Header{
	height:120px;
	width:100%;
	background-color:#101010;
	color:White;
	border-bottom: medium solid lime;
	border-left: medium solid yellow; ; 
	border-right: medium solid yellow;
	border-radius: 10px;
}

.HomeD{
	margin-top: -2%;
}

.LogOutD{
	margin-top: -2%;
}

.Logo{
	background-color: red;
	width:35%;
	height: 100%;
	margin-left: 32%;
	border-radius: 5px;
}

																	/* Title And Description */

Label{
	font-family: sans-serif;
	margin-left:20%;
	font-size: 30px;
	Color:#ffff80;
	
	
}

.Desc{
	font-size: 10px;
	margin-left: 23%;
	line-height: -20px;
}
																		/* Header Links */
a.Home{
	color: white;
	font-size: 18px;
	margin-left: 20px;
	margin-top: -2%;
	
}
a.LogOut{
	color:white;
	font-size: 18px;
	margin-left: 92%;
}

																			/* Content Divisions */
																			
.MainDiv{
	Height:885px;
	width:99%;
	background-color:aqua;
	margin: 0.5% 0% 0% 0.75%;
}		
						
.FirstCar{
	height: 817.5px;
	width: 49.9%;
	background-color:#f95767;
	border-radius: 5px;
	line-height: 80px;
	
}	

.SecondCar{
	height: 817.5px;
	width: 49.9%;
	margin:-817px 0px 0px 50.1%;
	background-color:#f95767;
	border-radius: 5px;
	
	}				
						
																			/* Images */
																			
																			
.FirstImg{
	height: 30%;
	width: 70%;

	margin: 1% 0% 0% 15%;
}							

																			/* Labels */
																			
.Label2{
	margin-left: 5px;font-size: 25px;color: #80ff00;
}
																		/* Link */			
																		
.Link{
	color:Black;
	font-size:25px;
	text-decoration:none;
	margin: 0px 0px 0px 45%;
	padding:3px 7px;
	border-radius:20px;
	background-color:white;
}
								
																																													