*{
	margin: 0;
	padding: 0;
	}
	
body{
	background-color: skyblue;
}	

                                                       /*Header Divisions*/
.Header{
	height:120px;
	width:100%;
	background-color:#101010;
	color:White;
	border-bottom: medium solid lime;
	border-left: medium solid yellow; ; 
	border-right: medium solid yellow;
	border-radius: 10px;
}

.HomeD{
	margin-top: -2.5%;
}

.LogOutD{
	margin-top: -2%;
}

.Logo{
	background-color: red;
	width:35%;
	height: 100%;
	margin-left: 32%;
	border-radius: 5px;
}
																	/* Header Title And Description */

Label{
	font-family: sans-serif;
	margin-left:20%;
	font-size: 30px;
	Color:#ffff80;
	
	
}

.Desc{
	font-size: 10px;
	margin-left: 23%;
	line-height: -20px;
}
						

.title{
	
margin-top: 42px;
	
margin-left: 60px;
	
width: 100%;
}


.main{
height: 335px;width: 39%;
background-color: black;
margin: 4% 0px 0px 31%;
border-radius: 26px;
}

																			/* Page 1 */
#title{

margin: -50px 0px 0px 480px;

font-size: 28px;

text-decoration: underline;

color: indigo;

font-weight: 600;

-webkit-text-stroke: medium;
}

#userid{
	color:white;
	font-weight:lighter;
	line-height: 100px;
	margin-left: 90px;
	font-size: 23px;
}

#Mail{
	margin-left:20px;
	padding:5px;
	height: 18px;
	width: 226px;
	border-radius:10px;
	border-color:lime;
	border-style:inset;
}
#submit{
	margin-left: 45%;
	padding: 3px 5px;
	font-size: 18px;
	border-radius: 5px;
	border-color: yellow;
	border-width: 3px;
	border-style: outset;
}

#submit:hover{
	background-color: transparent;
	color: white;
}

																			/* Page 2 */

#otp{
	color:white;
	font-weight:lighter;
	line-height: 75px;
	margin-left: 153px;
	font-size: 23px;
}

#new{
	color:white;
	font-weight:lighter;
	line-height: 75px;
	margin-left: 62px;
	font-size: 23px;
}

#new1{
	color:white;
	font-weight:lighter;
	line-height: 75px;
	margin-left: 30px;
	font-size: 23px;
}

input[type=password],[type=number]{
	margin-left:20px;
	padding:5px;
	height: 18px;
	width: 226px;
	border-radius:10px;
	border-color:lime;
	border-style:inset;
}

#msg{
	color:blue;
	font-size: 25px;
	text-decoration: underline;
	margin: 100px 0px 0px 500px;
	line-height: 200px;
}

#home{
	margin:0px 0px 0px 580px;
	font-size: 25px;
	color: white;
	text-decoration:none;
	background-color:green;
	border-radius:5px;
	border:Black 2px solid;
	padding: 2px 5px;
	
}
