@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: white;
}

.Page{
	height: 820px;
	width: 100%;
	}
                                                       /*Header Divisions*/
.Header{
	height:120px;
	width:100%;
	background-color:#101010;
	color:White;
	border-bottom: medium solid lime;
	border-left: medium solid yellow; ; 
	border-right: medium solid yellow;
	border-radius: 10px;
}

.HomeD{
	margin-top: -2.5%;
}

.LogOutD{
	margin-top: -2%;
}

.Logo{
	background-color: red;
	width:35%;
	height: 100%;
	margin-left: 32%;
	border-radius: 5px;
}
																	/* Header Title And Description */

Label{
	font-family: sans-serif;
	margin-left:20%;
	font-size: 30px;
	Color:#ffff80;
	
	
}

.Desc{
	font-size: 10px;
	margin-left: 23%;
	line-height: -20px;
}
																		/* Header Links */
a.Home{
	color: white;
	font-size: 18px;
	margin-left: 20px;
	margin-top: -2%;
	
}
a.LogOut{
	color:white;
	font-size: 18px;
	margin-left: 92%;
}


													                        /* Menu */
div.menu{
	height: 552px;
    width: 20%;
    background-color: Black;
    border-radius: 10px;
    margin: 0px;
}

p.form{
	margin-left:5%;
	padding:2% 0% 2% 0%;
}
p{
	margin-left:5%;
	padding:3% 0% 2% 0%;
}

button {
	margin-left:-5px;
	margin-top: 7%;
	font-family: serif;
	font-size: 20px;
	color: white;
	background-color: transparent;
	padding: 2px 5px;
	border-style: inset;
	border-radius: 5px;
	width: 100%;
}

																				/* Content Div */
.Body{
		
    background-color: black;
    width: 62%;
    height: 552px;
    color: white;
    border-radius: 10px;
    margin: -552px 0px 0px 20%;
    padding: 0% 0px 0px 18%;
}		

#Label1{
	margin-left:10px;
	text-decoration: underline;
	line-height: 150px;
	font-size:35px;
}

.Label1 {
    margin-left: -90px;
    color: white;
    line-height: 55px;
    font-size: 27px;
}

.Label2 {
    margin-left: -41px;
    font-size: 25px;
    color: white;
    line-height: 55px;
}

.Label3 {
    margin-left: -78px;
    font-size: 25px;
    color: white;
    line-height: 55px;
}

.Label4 {
    margin-left: 19px;
    font-size: 25px;
    color: white;
    line-height: 55px;
}

input[type=text],[type=number],[type=password]{
	margin-left: 19px;
	height: 33px;
	width: 255px;
	border: lime 2px outset;
	border-radius:10px;
	background-color:#64e3e6;
}

input[type=text]:hover,input[type=text]:focus{
	margin-left: 19px;
	height: 33px;
	width: 255px;
	border: lime 3px outset;
	border-radius:10px;
	background-color:white;
}

input[type=password]:hover,input[type=password]:focus{
	margin-left: 19px;
	height: 33px;
	width: 255px;
	border: lime 3px outset;
	border-radius:10px;
	background-color:white;
}

input[type=number]:hover,input[type=number]:focus{
	margin-left: 19px;
	height: 33px;
	width: 255px;
	border: lime 3px outset;
	border-radius:10px;
	background-color:white;
}

input[type=submit]{
	margin-left: 114px;
	margin-top: 55px;
	padding: 7px 14px;
	border-radius: 7px;
	border-width: 3px;
	border-style: inset;
	border-color: lime;
	font-weight: bold;
	color: white;
	background: black;
}

input[type=submit]:hover{
	color: white;
	background: green;
}